.quadrant {
  position: fixed;
  border: 1px dashed red;
  box-sizing: border-box;
}
.top    { height: 50%; top:    0; }
.bottom { height: 50%; bottom: 0; }
.left   { width:  50%; left:   0; }
.right  { width:  50%; right:  0; }
