.quadrant {
  position: fixed;
  border: 1.5px solid black;
  box-sizing: border-box;
  background:rgba(67,225,228,0.6);
  display:flex;
  align-items: center;
  justify-content:center;
  z-index: 100;
}
.quadrant-text {
  font-weight: bold;
  font-size: 32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.selected {
  background:rgba(67,225,228,.9);
}
.top    { height: 50%; top:    0; }
.bottom { height: 50%; bottom: 0; }
.left   { width:  50%; left:   0; }
.right  { width:  50%; right:  0; }
.clear { display: none;}
